/* Restabliment d'estils */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente global */
body {
    font-family: 'Roboto', sans-serif; /* Aplicar Roboto a toda la página */
}

/* Banner */
#banner {
    position: relative;
    width: 100%;
    height: 300px; /* Altura del banner */
    overflow: hidden;
    margin: 0; /* Eliminar margen */
    padding: 0; /* Eliminar padding */
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    margin: 0; /* Eliminar margen */
    padding: 0; /* Eliminar padding */
}

/* Título principal */
#main-title {
    text-align: center;
    padding: 20px;
}

#main-title h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

#main-title p {
    font-size: 16px;
    color: #666;
}

/* Capçalera */
header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navegació */
nav {
    background-color: #6f6b6f;
    color: #f9f9f9;
    padding: 10px;
    text-align: left;
}

nav a {
    color: #f9f9f9;
    text-decoration: none;
    margin: 0 10px;
}

/* Secció de benvinguda */
.welcome-section {
    background-color: #fff;
    padding: 5px; /* Reducir padding para acercar el texto al banner */
    margin: 5px 0; /* Reducir margen superior e inferior */
}

#llista-h3 {
    text-align: center;
}

/* Secció de publicacions recents */
.recent-posts {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px; /* Agregar margen superior para separar del contenido anterior */
}

.recent-posts h2 {
    margin-bottom: 20px;
}

/* Estilos para los posts */
.posts-grid .post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 20px; /* Espacio entre las tarjetas */
    width: 100%; /* Asegurar que ocupe todo el ancho disponible */
    max-width: 1200px; /* Limitar el ancho máximo para mejorar la presentación */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

/* Estilos para los posts recientes */
.recent-posts .post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 20px; /* Espacio entre las tarjetas */
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Asegurar que ocupe todo el ancho disponible dentro de la columna */
    box-sizing: border-box; /* Incluir padding y bordes en el cálculo del ancho */
}

/* Centrar el contenido */
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
    max-width: 800px; /* Limita el ancho máximo del contenido */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    margin-bottom: 30px;
}

/* Estilos para las imágenes de los posts */
.card-image {
    width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
    height: 400px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor sin distorsionarla */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Títol de la targeta */
.card h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Text de la targeta */
.card p {
    margin-bottom: 20px;
}

/* Botó */
.btn {
    background-color: #6f6b6f;
    color: #f9f9f9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #6f6b6f;
}

/* Secció d'informació sobre Django */
.django-info {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

.django-info h2 {
    margin-bottom: 20px;
}

/* Estilos para la página de error */

#error-title {
    text-align: center;
}

.error-message {
    text-align: center;
    padding: 50px;
}

.error-message h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.error-message p {
    font-size: 19px;
    color: #666;
    margin-bottom: 30px;
}

.error-message .btn {
    display: inline-block;
    background-color: #6f6b6f;
    color: #f9f9f9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.error-message .btn:hover {
    background-color: #6f6b6f;
}

/* Footer */
.footer {
    background-color: #b1b1b1;
    color: white; /* Texto blanco */
    text-align: center;
    padding: 15px 15px;
}

.footer p {
    font-size: 12px;
}

/* Estilos para la página de error 404 */
#error-title {
    text-align: center;
    margin-top: 50px;
}

#error-title h2 {
    font-size: 48px;
    color: #d9534f; /* Rojo para resaltar el error */
    margin-bottom: 20px;
}

.error-message {
    text-align: center;
    padding: 50px;
}

.error-message p {
    font-size: 24px;
    color: #666;
    margin-bottom: 30px;
}

.error-message .btn {
    display: inline-block;
    background-color: #6f6b6f;
    color: #f9f9f9;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.error-message .btn:hover {
    background-color: #5a565a;
}