{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog M3 - UF6</title>
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <!-- Menú superior -->
    <nav>
        <a href="{% url 'starting-page' %}">INICIO</a> |
        <a href="{% url 'all-posts-page' %}">POSTS</a> |
        <a href="{% url 'authors-list' %}">AUTORES</a> |
        <a href="{% url 'tags-list' %}">ETIQUETAS</a>
    </nav>

        
    <!-- Banner -->
    <header id="banner">
        <img src="{% static 'blog/images/im1.jpg' %}" alt="Blog M3-UF6">
    </header>

    <!-- Título principal -->
    <header id="main-title">
        <h1>Bienvenido a <span id="dev-chronicles">Dev Chronicles</span></h1>
        <p>"Explorando el desarrollo web: tendencias, herramientas y consejos para crear experiencias digitales increíbles."</p>
    </header>

    <!-- Contenido dinámico -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>{% now "Y" %} Copyright: Jason Okoro - Blog de Django-M3-UF6</p>
    </footer>
</body>
</html>